@use '../base' as base;

@mixin log-control {
    cursor: pointer;
    img {
        margin-block: 10px;
    }
    p {
        font-size: 1.5rem;
        font-weight: 500;
    }
    &:hover {
        filter: brightness(150%);
        img {
            scale: 1.3;
        }
    }
}