@use '../base' as base;

@mixin log {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    gap: 10px;
    display: flex;
    justify-content: start;
}
@mixin log-box {
    @include base.sizing(100%, 40px);
    background-color: base.$base;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    transform: translateX(100px) scale(0.7);
    opacity: 0;
    h2 {
        display: flex;
        align-items: center;
        font-size: 1em;
        @include  base.sizing(60%,100%)
    }
    span {
        font-size: 0.8em;
        @include  base.sizing(40%,100%);
        @include  base.flex;
    }
    &.incomes span {
        color: base.$plus;
    }
    &.outcomes span {
        color: base.$minus;
    }
    &:hover {
        filter: brightness(150%);
    }
}